html {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}
.ww {
    position: absolute;
    right: 4em;
    top: 2em;
    cursor: pointer;
}
.ww__icon {
    font-size: 60px;
    
}
.ww__aantal {
    font-size: .6em;
    position: absolute;
    top: -1em;
    left: 3.2em;
    background-color: red;
    color: white;
    width: 1em;
    font-size: 16px;
    line-height: 1em;
    padding: .5em;
    text-align: center;
    border-radius: 2em;
}
.boek-container {
    padding: 1em;
    clear: left;
}
.boek__cover {
    float: left;
    max-width: 300px;
}
.boek__titel {
    margin-top: 0;
    color: royalblue;
    font-size: 1.5em;
}
.boek-paginas::after, .boek__uitgave::after, .boek__ean::after {
    content: ' | ';
}
.boek__prijs {
    font-size: 2em;
    color: royalblue;
}
.boek__bestel-knop {
    font-size: .5em;
    float: right;
    display: block;
    text-decoration: none;
    color: red;
    background-color: white;
    padding: .4em 2.5em;
    border: 2px solid red;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 1em;
    font-weight: 700;
    font-variant: small-caps;
    letter-spacing: .2em;
}
.boek__bestel-knop:hover {
    color: wheat;
    background-color: red;
    
}
.boek__info {
    margin-left: 100px;
}
.control__sort {
    float: right;
    text-align: right;
}
@media (min-width:1250px) {
    #boekenLijst {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boek-container:nth-child(4n+2), .boek-container:nth-child(4n+3) {
        background-color: #ccc;
    }
}

#getForm {
    display: none;
}
#getForm:checked ~ .bestelform {
    transform: translateX(0vw);
}
.bestelform {
    background-color: whitesmoke;
    position: absolute;
    width: 90vw;
    min-height: 90vh;
    top: 0em;
    border-radius: 2em;
    border: solid 2px gray;
    padding: 2em;
    box-sizing: border-box;
    margin: 4vh 4vw;
    transform: translateX(100vw);
    transition: transform 1s ease-out;
}